<!-- Layout for the people page - extends the base layout with page intro and content specific to people page -->

{% extends "layouts/base.html" %}

<!-- People page intro block -->
{% block pageIntro %}
<h2>Behind Every Breakthrough...</h2>
<p>
  Behind every major breakthrough in internet technology stands <strong>a person, or a
  team, whose vision, creativity, or determination helped shape the way we
  connect and communicate today.</strong> This people section highlights some of the key
  figures whose contributions defined the internet era in the United States from
  1995 to today.
</p>
{% endblock %}

<!-- People page content block - get data from people json data file and use for loop to map the data into HTML -->
{% block content %}

{% for people in people %}
<section id="{{people.id}}">
  <h2>{{ people.title }}</h2>

  {% for people in people.people %}
  <div class="content">
    <div class="content-grid">
      <img src="{{people.img}}" alt="people.name" />
      <div>
        <div class="content-title">
          <h4>{{people.name}}</h4>
        </div>
        <div>
          <p>{{ people.profile }}</p>
        </div>
      </div>
    </div>
    <div class="content-text">
      <p>{{ people.contribution }}</p>
      <p class="fun-fact"><strong>Fun Fact:</strong> {{ people.funFact }}</p>
    </div>
  </div>
  {% endfor %}
</section>
{% endfor %}

{% endblock %}