<!-- Layout for the people page - extends the base layout with page intro and content specific to people page -->

{% extends "layouts/base.html" %}

<!-- People page intro block -->
{% block pageIntro %}
<h2>Behind Every Breakthrough...</h2>
<p>
  Behind every major breakthrough in internet technology stands <strong>a person, or a
  team, whose vision, creativity, or determination helped shape the way we
  connect and communicate today.</strong> This people section highlights some of the key
  figures whose contributions defined the internet era in the United States from
  1995 to today.
</p>
{% endblock %}

<!-- People page content block - get data from people json data file and use for loop to map the data into HTML -->
{% block content %}

{% for group in people %}
<section id="{{ group.id }}">
  <h2>{{ group.title }}</h2>
  <p>{{ group.description }}</p>

  {% for person in group.people %}
  <div class="content">
    <div class="content-grid">
      <div>
         <img src="{{ person.img }}" alt="{{ person.name }}" />
        <span class="img-attribute">{{ person.imgAttribute }}</span>
      </div>
      <div>
        <div class="content-title">
          <h3>{{ person.name }}</h3>
        </div>
        <div>
          <p>{{ person.profile }}</p>
        </div>
      </div>
    </div>
    <div class="content-text">
      <p>{{ person.contribution }}</p>
      <p class="fun-fact"><strong>Fun Fact:</strong> {{ person.funFact }}</p>
    </div>
  </div>
  {% endfor %}
</section>
{% endfor %}

{% endblock %}